.flexContainer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.circularProgressContainer{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  background-color: rgb(168, 0, 78);
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inputText {
  color: white;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowContainer {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.arrowActive {
  color: rgb(168, 0, 78);
  cursor: pointer;
}

.arrowDisabled {
  color: grey;
}
